/* Aplica un fondo oscuro y establece el color del texto en blanco */
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor de las tarjetas */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para cada tarjeta */
.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el título dentro de la tarjeta */
.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilo para los párrafos dentro de la tarjeta */
.card p {
    margin: 5px 0;
}
